{% extends "base.html" %}

{% block title %}About - Student Health Card{% endblock %}

{% block content %}
    <!-- About Section -->
    <section class="about">
        <h2>📖 About the Student Health Card</h2>
        <img src="static/closeup-medicine-vial-flu-measles-vaccine-bottle-syringe-needle-immunization-vintage-medical-background-140368821.jpg" alt="Health Services">
        <p>This program ensures students receive quality healthcare services, covering checkups, medications, and emergency aid.</p>
    </section>
{% endblock %}